.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(60, 0, 119);
    display: absolute;
    justify-content: flex-end;
    align-items: center;
  }
  
  .links {
    margin-right: 40px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 55px;
    font-size: 20px;
    
  }
  .containerLogin {
    margin-top: 100px;
    align-items: center;
    display: flex;
    margin-left: 5px;
    font-size: 10px;
  }
